body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(public/images/darya-tryfanava-UCNaGWn4EfU-unsplash.jpg) ;
  background-size: cover; 
  background-repeat: no-repeat; 
  backdrop-filter: drop-shadow(4px 4px 10px blue);
 
}



    
body{color: whitesmoke;}

li{ width: 30px;
  cursor: pointer;

 ;
 
}

div {
 
  
}



