body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url(public/images/darya-tryfanava-UCNaGWn4EfU-unsplash.jpg) ;
  background-size: cover; 
  background-repeat: no-repeat; 
  backdrop-filter: drop-shadow(4px 4px 10px blue);
 
}



    
body{color: whitesmoke;}

ul{ width: 30px;
  padding-left: 15cm;
  padding-top: 3cm;
 
}

div {
 
  animation-play-state: running;
  animation-name:inherit;
  animation-duration: 4s;
}

